@charset "utf-8";
/* CSS Document */
body{margin: 0;padding: 0;font-size: 14px;}
a{text-decoration: none;}

	#img{width: 1600px;height:400px;background: #eee;margin: auto;}
	#top{width: 1600px;height: 150px;background: #009;margin: auto;margin-top: -400px;opacity: 0.8}
	
	
	#main{width: 1000px;height: 800px;background:#ccc;margin: auto;margin-top: 250px;}
	#bottom{width: 1600px;height: 150px;background:#009;margin: auto}
